<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); 
=======
/* kanban-1 */ 
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Raleway&display=swap');

/* kanban-2 */ 
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

>>>>>>> 9c7818f (changed fonts for the main titles)

.kanban {
    display: flex;
    padding: 30px;
    width: auto;
    background: #009578;
    border-radius: 5px;
}

.kanban * {
<<<<<<< HEAD
    font-family: 'Russo One', sans-serif;
=======
    font-family: 'Cabin Sketch', cursive;
    /* font-family: 'Raleway', sans-serif; */ 
>>>>>>> 9c7818f (changed fonts for the main titles)
}

.kanban__column {
    flex: 1;
}

.kanban__column:not(:last-child) {
    margin-right: 30px;
}

.kanban__column-title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30 px;
    color: white;
    user-select: none;
}

.kanban__item-input {
    padding:20px 15px;
    box-sizing: border-box;
    background:  #f2c708;
    border-radius: 5px;
    cursor: pointer;
}

.kanban__dropzone {
    height: 20px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 40px;
    background: rgba(0,0,0,0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}